@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  min-width: 768px;
  webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #fff;
}

.visually-hidden {   /*скрытие ненужных элементов*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;

}

a.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: #756257;
  cursor: pointer;
}

a.button:hover {
  background-color: #615048;
}

a.button:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.a.button:active {
  color: #FFFFFF4D;
  background-color: #615048;
}


/*Шапка*/

.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin-left: 70px;
  background-color: #ffffff;
}

a.logo {
  display: block;
  margin-left: 0;
  width: 139px;
  height: 70px;
  z-index: 2;
}

/*Навигация*/

.navigation {
  display: flex;
  flex-wrap: wrap;
  min-width: 1060px;
  height: 70px;
  margin: 0 auto;
  align-content: center;
  justify-content: space-evenly;
}

.icon-button {
  display: block;
  width: 42px;
  height: 42px;
  list-style-type: none; /*отключение булетов*/
}

ul.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 345px;
  margin-left: 30px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none; /*отключение булетов*/
}

/*Главная, о Седоне, гостиницы*/

.navigation-link {
  display: block;
  padding: 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: #7562574D;
  opacity: 0.3;
}

.navigation-link-active {
  position: relative;
  padding: 19px;
}

.navigation-link-active::after {
  content: "";
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

/*Пользовательское меню*/

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 264px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  list-style-type: none; /*отключение булетов*/
  fill: #000000;
}

.icon-button-search:hover {
  stroke: #000000;
  fill: #756257;
}

.icon-button-search:active {
  color: #756257;
  opacity: 30%;
}

.icon-button-favorite:hover {
  stroke: #000000;
  fill: #756257;
}

.icon-button-favorite:active {
  color: #756257;
  opacity: 30%;
}


.user-navigation {
  display: flex;
  width: 84px;
  justify-content: space-evenly;
}

.icon-button-favorite {
  margin-left: 10px;
}

/*сердечко-счётчик*/

.favorite-heart {
  position: absolute;
  top: 15px;
  left: 932px;
  width: 20px;
  height: 20px;
  padding: 2px 2px;
  border-radius: 50%;

  background-color: #7DB54F;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 10px;
  line-height: 13px;

  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

/*Кнопка Хочу сюда*/

.user-navigation-button {
  position: relative;
  display: flex;
  min-width: 160px;
  height: 38px;
  left: 0;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-navigation-button:hover {
  background-color: #615048;
}

.user-navigation-button:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  color: #FFFFFF4D;
}


/*Главная страница*/

.page-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.main-promo {
  margin: 0 auto;
  margin-top: -5px;
  min-width: 1200px;
  min-height: 767px;
  z-index: 1;
  background-color: #FFFFFF;
}


/*Преимущества*/

.advantages-paragraph-title {
  width: 720px;
  margin-left: 240px;
  margin-top: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.section-description {
  width: 720px;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

/*№1*/
.advantages-main {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 384px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color:#ffffff;
  background-color: #82b3d3;
}
/*№2*/
.advantages-main_2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  min-height: 384px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color:#ffffff;
  background-color: #82b3d3;
}

.advantages-title {
  margin: 0;
  width: 400px;
  margin-top: 98px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
}

.features__number {
  font-weight: 400;
  font-size: 16px;
  margin-top: 25px;
}

.advantages__number {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  margin-top: 25px;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 25px;
  color:#ffffff;
}

.advantages-img {
  display: block;
}

.advantages-additional {
  display: flex;
  margin: 0;
  font-weight: 700;
  min-height: 384px;
  font-size: 24px;
  line-height: 28px;
}

.advantages-additional-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 25px;
  color: #333333;
}

.advantages-additional-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-additional-item:nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

/*Советы*/

.advices {
  display: flex;
  flex-wrap: wrap;
  min-height: 384px;
  justify-content: space-between;
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
  background-color: #83B3D3 12%;
}

.advices-item-house {
  margin-top: 89px;
}

.advices-item-burger {
  margin-top: 91px;
}

.advices-item-present {
  margin-top: 85px;
}

.advices-title {
  margin-top: 10px;
  font-size: 24px;
}

.advices-text {
  margin-top: -15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advices-item-housing,
.advices-item-gifts {
  background: rgba(131, 179, 211, 0.12);
}

.advices-item-housing,
.advices-item-food,
.advices-item-gifts {
  width: 400px;
}

/*Поиск гостиниц*/

.search-hotel {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 417px;
  align-content: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.search-hotel-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  min-width: 760px;
  margin: 0;
  margin-top: 0;
}

.search-hotel-text {
  display: block;
  margin: 0;
  margin-top: 29px;
  min-width: 720px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/*кнопка Поиск гостиниц в Седоне*/
.search-button.button {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 53px;
  align-content: space-around;
  justify-content: space-around;
  font-weight: 700;
  font-size: 21px;
  line-height: 36px;
  color:#ffffff;
  background-color: #756257;
  border-radius: 10px;
  width: 575px;
  min-height: 60px;

}

/*Подписка*/

.subscribe-primary {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/background/blur-background.jpg);
  background-color: #82b3d3;
  width: 1200px;
  min-height: 411px;
  margin: 0;
  color: #000000;
}

.subscribe-wrapper {
  min-width: 800px;
  margin: 0;
  margin-left: 200px;
}

.subscribe-section-title {
  min-width: 720px;
  margin-top:  94px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscribe-section-description {
  min-width: 720px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-top: 28px;
  color: #ffffff;
}

/*форма подписки*/

.subscribe-form {
  display: grid;
  grid-template-columns: 600px auto;
  margin-top: 45px;
}

.subscribe-field .field-input {
  border-radius: 10px 0 0 10px;
}

.subscribe-button {
  border-radius: 0 10px 10px 0;
}

.field {
  display: flex;
}

.field-input {
  width: 100%;
  min-height: 40px;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #F2F2F2;
  border: 2px solid transparent;
}
.field-input:hover {
  background-color: #E6E6E6;
}

.field-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.field-input:disabled {
  outline: 3px solid #FF5757;
  outline-offset: -3px;
}

/*Кнопка Подписаться*/

.subscribe-form-button {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  min-width: 200px;
  min-height: 60px;
  background-color: #83B3D3;
  color: #ffffff;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.subscribe-form-button:hover {
  background-color: #68A2CA;
  color: #ffffff;
}

.subscribe-form-button:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: -3px;
}

.subscribe-form-button:active {
  background-color: #68A2CA;
  color: #FFFFFF;
  opacity: 30%;
}

/*Футер*/

.page-footer-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  min-height: 120px;
  text-decoration: none;
  align-items: center;
}

.footer-social-item-tw {
  margin-left: 72px;
  list-style-type: none; /*отключение булетов*/
  color: #83B3D3;
}

.footer-social-item-fb {
  margin-left: 30px;
  list-style-type: none; /*отключение булетов*/
  color: #83B3D3;
}

.footer-social-item-yt {
  margin-left: 30px;
  list-style-type: none; /*отключение булетов*/
  color:#83B3D3 ;
}

.footer-social-item-tw:hover,
.footer-social-item-fb:hover,
.footer-social-item-yt:hover {
  fill: #68A2CA;

}

.footer-social-item-tw:focus,
.footer-social-item-fb:focus,
.footer-social-item-yt:focus {
  outline: 3px solid#83B3D3 ;
  outline-offset: -3px;
  border-radius: 10px;
  gap: 10px;
}
.footer-social-item-tw:active,
.footer-social-item-fb:active,
.footer-social-item-yt:active  {
  opacity: 30%;
}

.footer-contacts-phone {
  margin-left: 255px;
  margin-top: 35px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3 ;
  outline-offset: -3px;
  border-radius: 10px;
}

.footer-contacts-phone:active {
  color: rgba(117, 98, 87, 1);
}

.footer-developer {
  margin: 0 auto;
  margin-left: 245px;
  color: #000000;
}

.footer-developer:hover {
  color: #756257;
  opacity: 30%;
}

.footer-developer:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  border-radius: 10px;
}

.footer-developer:active {
  color: #756257;
}

/*Модальное окно*/

.modal {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-opened {
  display: grid;
}

.modal-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 54px;
  width: 717px;
  padding: 70px;
  padding-top: 64px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px #000000 15%;
}

/*Кнопка Закрыть*/
.modal-close {
  width: 53px;
  height: 53px;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}

.modal-close::after {
  content: "";

  display: block;
  width: 53px;
  height: 53px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/icons/close.svg");
}

.modal-close:hover,
.modal-close:active {
  background-color: #e6e6e6;
}

.modal-close:active::after {
  opacity: 0.3;
}

.modal-close:focus:not(:active) {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

/*Поиск в модальном окне*/

.modal-title {
  margin: 0;
  margin-bottom: 36px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-form {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 50px 50px 50px 60px;
  row-gap: 40px;
}
.search-form-date {
  grid-column: 1 / -1;
}

.search-form-date .field-input {
  background-repeat: no-repeat;
  background-position: right 17px top 50%;
  background-image: url("../img/icons/date.svg");
}

.search-form-date .field-input:not(:placeholder-shown):focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #000000;
}

/*Выбор номеров*/

.rooms {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  min-width: 133px;
}

.rooms-input {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 0 50px;
  text-align: center;
  appearance: textfield;
}

.rooms-input::-webkit-inner-spin-button,
.rooms-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rooms-button {
  position: relative;
  z-index: 1;

  grid-row: 1 / 2;
  display: grid;
  place-content: center;
  background-color: transparent;
  border: none;
}

.rooms-button::after {
  content: "";
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  opacity: 0.3;
}

.rooms-button:hover::after {
  opacity: 1;
}

.rooms-button:active::after {
  opacity: 0.2;
}

.rooms-button:focus {
  outline: none;
}

.rooms-button:focus:not(:active)::after {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  opacity: 1;
}

.rooms-button[disabled]::after {
  opacity: 0.1;
}

.rooms-button-minus {
  grid-column: 1 / 2;
}

.rooms-button-minus::after {
  background-image: url("../img/icons/minus.svg");
}

.rooms-button-plus {
  grid-column: -2 / -1;
}

.rooms-button-plus::after {
  background-image: url("../img/icons/plus.svg");
}

/* Поля поиска */

.field {
  display: flex;
}

.field-title-info {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.field-input {
  width: 100%;
  margin: 0;
  padding: 8px 20px;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-size: 18px;
}

.field-input:hover {
  background-color: #e6e6e6;
}

.field-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field-input-error {
  border-color: #ff5757;
}

.field-input[disabled] {
  opacity: 0.3;
  background-color: #d3d3d3;
}

.field-search {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 50px;
  column-gap: 15px;
  row-gap: 4px;
}

.field-search .field-title {
  align-self: center;

  font-weight: 700;
}

.field-search .field-input {
  font-weight: 700;
}

.field-message {
  grid-column: 2 / -1;

  font-size: 16px;
}

.field-message-error {
  color: #ff5757;
}

.field-info {
  position: relative;

  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: #83b3d3;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/icons/info.svg");
  border-radius: 50%;
}

.field-info-text {
  position: absolute;
  top: calc(100% + 15px);
  left: calc(50% - 128px);
  z-index: 1;
  display: none;
  width: 256px;
  padding: 15px 20px 23px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
}

.field-info-text::before {
  content: "";
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);
  width: 19px;
  height: 9px;
  background-image: url("../img/icons/triangle.svg");
}

.field-info-text::after {
  content: "";
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  height: 25px;
}

.field-info:hover .field-info-text {
  display: block;
}

/*Кнопка НАЙТИ*/
.search-form-button {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 53px;
  margin-left: 70px;
  align-content: space-around;
  justify-content: space-around;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#ffffff;
  background-color: #83B3D3;
  border-radius: 10px;
  width: 577px;
  min-height: 60px;
  border: none;
}

.search-form-button {
  grid-column: 1 / -1;
}

.search-form-button:hover {
  background-color: #68A2CA;
}

.search-form-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}


/*КАТАЛОГ*/

/*Страница*/

.filter-inner {
  display: grid;
  align-content: space-evenly;
  justify-content: space-around;
  margin-bottom: 45px;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url(../img/background/main-header.jpg);
  background-size: cover;
  height: 408px;
  margin-top: -5px;
}

/*Гостиницы Седоны*/
p.filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 77px;
  margin-top: -2px;
  margin-left: -65px;
}



/*Breadcrumbs*/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-bottom: 43px;
  margin-left: -8px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}

.breadcrumbs-item + .breadcrumbs-item {
  position: relative;
  margin-left: 10px;

}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: -7px;
  width: 5px;
  height: 8px;
  background-image: url("../img/icons/chevron-right.svg");
  opacity: 0.3;
}

.breadcrumbs-link {
  display: flex;
  padding: 3px 8px;
  border-radius: 4px;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  opacity: 0.3;
}

.breadcrumbs-link:not(:active):focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.breadcrumbs-link-home {
  width: 28px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/icons/home.svg");
}



/*Фильтр*/

.filter-form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 223px;
  justify-content: space-between;
  gap: 17px;
}

.filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter-fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.filter-fieldset-price {
  margin-left: 94px;
}

.filter-list {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.filter-item + .filter-item {
  margin-top: 11px;
}


/* Control */

.control {
  position: relative;
  display: block;
}

.control-input {
  position: absolute;
  top: 2px;
  width: 20px;
  height: 20px;
  margin: 0;
  opacity: 0;
}

.control-lead {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 19px;
  line-height: 24px;
}

.control-lead::before,
.control-lead::after {
  content: "";
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 20px;
  margin-top: 2px;
}

.control-lead::before {
  background-color: #ffffff;
  border-radius: 4px;
}

.control-lead::after {
  display: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/icons/check.svg");
}

.control-input[type="checkbox"]:hover + .control-lead::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:active + .control-lead::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:focus + .control-lead::before {
  outline: 3px solid #83b3d3;
}

.control-input:checked + .control-lead::after {
  display: block;
}

.control-input[disabled] + .control-lead {
  opacity: 0.3;
}

.control-input[disabled]:hover + .control-lead::before {
  background-color: #ffffff;
}

.control-input[type="radio"] + .control-lead::before {
  border-radius: 50%;
}

.control-input[type="radio"] + .control-lead::after {
  background-color: #3f5e72;
  background-image: none;
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 50%;
}

/* Рейндж-слайдер */

.range {
  margin-top: 35px;
}

.range-fields {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
}

.range-fields::before {
  content: "";
  position: relative;
  z-index: 1;
  width: 2px;
  background-color: transparent;
}

.range-fields:hover::before {
  opacity: 0.6;
}

.range-fields:focus-within::before {
  opacity: 1;
}

.range-field {
  display: grid;
  grid-template-columns: 1fr 44px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.range-field:first-child {
  order: -1;
}

.range-field:focus-within::before {
  background-color: #83B3D3;

}

.range-input {

  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 48px;
  padding: 10px 18px;
  padding-right: 50px;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  appearance: textfield;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-field:first-child .range-input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range-field:nth-child(2) .range-input {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  outline: 3px solid #83b3d3;
  border-color: #ffffff;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.range-input:not(:placeholder-shown):focus {
  background-color: #F2F2F2;
  border-color: #000000;
  box-shadow: none;
  outline: none;
}

.range-input[disabled] {
  opacity: 0.3;
  border-color: #ffffff;
}

.range-title {
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  margin-top: -2px;
  opacity: 0.3;
  line-height: 18px;
  color: #000000;
}

.range-field:nth-child(2) .range-title {
  margin-right: 6px;
}

.range-slider {
  margin-top: 28px;
}

/* Бегунок слайдера */

.slider {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #ffffff;
}

.slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.slider-thumb:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.slider-thumb:focus {
  outline: 3px solid #83b3d3;
}

.slider-thumb:active {
  outline-width: 2px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  margin-left: 64px;
}

/*кнопка Применить*/
.filter-button-submit {
  display: inline-block;
  margin: 0;
  padding: 8px 50px 8px 50px;
  min-width: 191px;
  min-height: 36px;
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  background-color: #83b3d3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.filter-button-submit:hover {
  background-color: #68a2ca;
}

.filter-button-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.filter-button-submit:focus:not(:active) {
  background-color: #68a2ca;
  outline: 3px solid #615048;
  outline-offset: 0;
}

.filter-button-submit:not(:active):focus {
  outline-color: #ffffff;
}

/*кнопка Сбросить*/
.filter-reset {
  align-self: center;
  margin: 0;
  padding: 8px 50px 8px 50px;
  min-width: 191px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  min-width: 191px;
  min-height: 36px;
  color:#ffffff;
  border-radius: 4px;
  background: transparent;
  border: none;
}

.filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset:not(:active):focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.filter-reset[disabled] {
  color: #ffffff;
  opacity: 0.3;
}


/*КАТАЛОГ*/

.catalog {
  display: grid;
  width: 1056px;
  margin: 0;
  margin-left: 72px;
}

div.catalog-sort  {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px auto auto;
  width: 1057px;
  margin-left: -1px;
  margin-top: -2px;
  justify-content: space-between;
}

/*Найдено гостиниц*/

.search-results {
  display: flex;
  padding: 0;
  min-width: 360px;

}

.section-catalog-title {
  max-width: 360px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin-top: 6px;
}

/*select*/

.select-control {
  height: 48px;
  padding: 12px 19px;
  padding-right: 101px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  background-color: #FFFFFF;
  background-image: url("../img/icons/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  outline: 2px solid #E6E6E6;
  outline-offset: -2px;
  border-radius: 4px;
  appearance: none;
}

.select-control:hover {
  border: none;
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.select-control:focus {
  border: none;
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
}

.select-control:active {
  color: rgba(51, 51, 51, 0.3);
  border: 2px solid #E6E6E6;
  outline: none;
}

.option {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
}



.select-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
}

.select-item-active {
  background-color: #e6e6e6;
}

.select-option {
  display: block;
  padding: 8px 20px;
  color: #333333;
  text-decoration: none;
}

.select-option:hover {
  background-color: #f2f2f2;
}

.select-item-active .select-option:hover {
  background-color: transparent;
}

.select-option:active {
  color: rgba(51, 51, 51, 0.3);
  background-color: #f2f2f2;
}

.select-label {
  margin: 0;
  margin-right: 50px;
}

/*Вид отображения*/

.button-sort {
  margin: 0;
  padding: 0;
  display: flex;
}
.select-item {
  font-size: 18px;
  line-height: 23px;
}

.card-grid-toggle {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  padding: 2px;
  list-style-type: none; /*отключение булетов*/
  border: 2px solid #F2F2F2;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.card-grid-toggle:not(:last-child) {
  margin-right: 8px;

}

.card-grid-toggle:hover {
  border: 2px solid #83B3D3;
}

.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.section-title {
  margin: 0;
  margin-bottom: 36px;

  color: #000000;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-title {
  margin: 0;
}

/*Карточки товара*/

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 306px);
  column-gap: 52px;
  grid-template-rows: 438px 438px;
  row-gap: 10px;
  width: 1056px;
  margin-left: 20px;
  margin-top: 49px;
}


.product-card {
  display: grid;
  grid-template-columns: 134px 26px 140px;
  grid-template-rows: 206px 31px 23px 37px 37px;
  row-gap: 16px;
  position: relative;
  z-index: 0;
  justify-items: start;
  min-width: 340px;
  min-height: 438px;
}


.product-card-link {
  grid-column: 1/4;
  grid-row: 2/3;
  text-decoration: none;
  color: #000000;
  margin-top: 47px;
}

.product-card-link:focus {
  outline: none;
}

.product-card-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 160px;
  left: 0;
  z-index: 1;
}

.product-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  margin-top: -49px;
}

.product-card-image {
  grid-row: 1/2;
  width: 300px;
  height: 206px;
  order: -1;
  object-fit: cover;
  margin-top: -2px;
  background-color: #f2f2f2;
}

.product-card-link:hover + .product-card-image {
  opacity: 0.6;
}

.product-card-link:active + .product-card-image {
  opacity: 0.3;
}

.product-card-link:focus:not(:active) + .product-card-image {
  outline: 3px solid #83b3d3;
}

/*Гостиница-цена*/

.product-card-price {
  grid-column: 1/4;
  display: grid;
  font-size: 18px;
  line-height: 23px;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  column-gap: 79px;
  margin-top: -2px;
}

/**кнопка Подробнее*/

.button-card-more-info {
  grid-column: 1/2;
  grid-row: 4/5;
  min-width: 134px;
  min-height: 37px;
  background-color: #756257;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  margin-top: -2px;
  font-weight: 700;
  font-size: 14px;
}

.button-card-more-info:hover {
  background-color: #615048;
}

.button-card-more-info:focus {
  background-color: #615048;
  outline-offset: -3px;
}

.button-card-more-info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-card-more-info:focus:not(:active) {
  background-color: #68a2ca;
  outline: 3px solid #615048;
  outline-offset: 0;
}

/*кнопка В избранное*/

.button-card-favorites {
  grid-column: 3/4;
  grid-row: 4/5;
  min-width: 141px;
  min-height: 38px;
  background-color: #83B3D3;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  margin-top: -2px;
  font-weight: 700;
  font-size: 14px;
}

.button-card-favorites:hover {
  background-color: #68a2ca;
}

.button-card-favorites:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.button-card-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button-card-favorites:focus:not(:active) {
  background-color: #68a2ca;
  outline: 3px solid #615048;
  outline-offset: 0;
}

/*кнопка третьей карточки*/
.button-card-favorites-sent {
  grid-column: 3/4;
  grid-row: 4/5;
  min-width: 141px;
  min-height: 38px;
  background-color: #7DB54F;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  margin-top: -2px;
  font-weight: 700;
  font-size: 14px;
}

.button-card-favorites-sent:hover {
  background-color: #6c9e42;
}

.button-card-favorites-sent:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6c9e42;
}

.button-card-favorites-sent:focus:not(:active) {
  background-color: #6c9e42;
  outline: 3px solid #615048;
  outline-offset: 0;
}

.card-star {
  grid-column: 1/2;
  grid-row: 5/6;
  align-self: start;
}

/* Звёздочки */

.star {
  width: 23px;
  margin: 0;
  min-height: 37px;
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 23px 17px;
  background-image: url(../img/icons/star.svg);
}

.star-two {
  width: 46px;
}

.star-three {
  width: 69px;
}

.star-four {
  width: 92px;
}

.star-five {
  width: 115px;
}

.rating-area {
  grid-column: 3/4;
  grid-row: 5/6;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 16px;
  margin-left: -20px;
  width: 160px;
  border-radius: 4px;
  background-color: #F2F2F2;
}

/*Загрузить ещё*/

.more-download-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 1056px;
  margin-left: 72px;
  margin-top: 11px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;

}

.button-download {
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  width: 620px;
  margin-left: 218px;
  min-height: 60px;
  border-radius: 4px;
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-download:hover {
  background-color: #68a2ca;
}

.button-download:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-download:focus:not(:active) {
  outline: 3px solid #756257;
  outline-offset: 0;
}

.pagination-item-active .pagination-link {
  color: #000000;
  background-color: #f2f2f2;
}

/*Пагинация*/

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;

  min-width: 370px;
  list-style-type: none; /*отключение булетов*/

  align-items: center;

}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 32px;
  margin-top: 29px;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;

}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus:not(:active) {
  outline: 3px solid #756257;
  outline-offset: 0;
}

.pagination-item-active .pagination-link {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}



/*Подписка каталог*/

.subscribe-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 411px;
  margin: 0;
  color: #000000;
}

.subscribe-section-title-catalog {
  min-width: 720px;
  margin-top:  73px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-left: 198px;
}

.subscribe-section-description-catalog {
  display: flex;
  flex-wrap: wrap;
  min-width: 720px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-top: 46px;
  margin-left: 166px;
  color: #000000;
  text-align: center;
}

.subscribe-form-button-pagination {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  min-width: 200px;
  min-height: 60px;
  background-color: #83B3D3;
  color: #ffffff;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  margin-right: 120px;
}

.subscribe-button-pagination {
  border-radius: 0 10px 10px 0;
}

.page-footer-container-catalog {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  min-height: 120px;
  text-decoration: none;
  align-items: center;
  margin-top: 45px;
}

.subscribe-form-button-pagination:hover {
  background-color: #68A2CA;
  color: #ffffff;
}

.subscribe-form-button-pagination:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: -3px;
}

.subscribe-form-button-pagination:active {
  background-color: #68A2CA;
  color: #FFFFFF;
  opacity: 30%;
}
